/* body{
    background: url(https://images.unsplash.com/photo-1548778052-311f4bc2b502?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80);
    background-repeat: no-repeat;
} */

div{
    background: blue;
    border: orange;
    border-width: thick;
    border-style: dotted;
}