.div1{
    color: palegoldenrod;
    background-color: rosybrown;
}

#solo{
    color: plum;
    border: palegoldenrod dotted;
}

.pic{
    height: 500px;
    width: 500px;
    border-image-repeat: no-repeat;
}