.div1{
    color: palegoldenrod;
    background-color: rosybrown;
}

#solo{
    color: plum;
    border: palegoldenrod dotted;
}

#row1{
    background-color: plum;
}

#row2{
    background-color: palegoldenrod;
}